/**
 * All front-end CSS is contained in this file.
 * 
 */

/* Map styling */
#placespeak_plugin_map {
    height: 180px;
}

/* Shortcode and button styles */
#powered_by_placespeak {
    background: #27a4ba;
    height:20px;
    width:100%;
}
#powered_by_placespeak p {
    font-size: 12px;
    color: #FFF;
    float:right;
    padding: 1px 10px 0px 10px;
}
#powered_by_placespeak_logo {
    height:14px;
    margin-top:-1px;
}
#verified_by_placespeak {
    background: #27a4ba;
    height:20px;
    width:100%;
}

/* Information popup before verification occurs */
#pre_verified_by_placespeak {
    height:20px;
    display: inline;
}
#pre_verified_by_placespeak img {
    width: 14px;
    margin-left:0px;
    margin-top: -15px;
}
#pre_verified_by_placespeak img:hover {
    cursor: pointer;
}
#placespeak_pre_verified_info {
    background:white;
    padding:5px 10px;
    z-index: 10;
    position: absolute;
    margin-top:5px;
    margin-left:10px;
    border: thin black solid;
}

/* Information popup after verification */
#verified_by_placespeak p {
    color: #FFF;
    font-size:12px;
    padding: 1px 10px 0px 10px;
    margin-bottom:0px;
}
#verified_by_placespeak img {
    width: 14px;
    margin-left:5px;
    margin-top: -2px;
}
#placespeak_verified_info {
    background:white;
    padding:5px 10px;
    z-index: 10;
    position: absolute;
    margin-top:5px;
    margin-left:10px;
}